{
    "include": [
        "src/**",
        "index.*"
    ],
    "exclude": [
        "tests/*",
        "src/i18n.*",
        "src/decorator.*"
    ],
    "extends": "@istanbuljs/nyc-config-typescript",
    "check-coverage": true
}
